{% extends 'users/base.html' %} {% block content %}
    {% if user.is_authenticated %}
        <div class="card text-center">
          <div class="card-header">Welcome</div>
          <div class="card-body">
            <h5 class="card-title">Hi <a href="{% url 'profile' %}" style="text-decoration: none;">{{ user.username }}</a></h5>
            <p class="card-text">
               <b></b>
            </p>
            <form method="post" action="{% url 'logout' %}" style="display: inline">
                  {% csrf_token %}
                  <a href="{% url 'logout' %}" style="text-decoration: none"><button type="submit" class="btn btn-primary">Logout</button></a>
            </form>
          </div>
          <div class="card-footer text-muted">2 days ago</div>
        </div>

{% else %}
        <h1>Welcome guest. If you have account</h1>
        <h2><a href="{% url 'login' %}">SingIN</a></h2>
        <h2>if you haven't <a href="{% url 'register' %}">SIgnUp</a></h2>
{% endif %} {% endblock %}
