{% extends "users/base.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">Password reset</div>
                <div class="card-text">Forgot your account’s password? Enter your email address and we’ll send you a recovery link.</div>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <hr>
                    <div class="row-form-errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                        <hr>
                    {% endif %}
                    <div class="card-input">
                        <label for="email"><strong>Email</strong></label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-primary">Send recovery email</button>
                </form>
        </div>
        <div class="card-footer">
            <a href="{% url 'register' %}">Create a new account?</a>
            <br><br>
            <a href="{% url 'login' %}">Back to login?</a>
        </div>
    </div>

{% endblock content %}