{% extends 'users/base.html' %}

{% block content %}
<div class="card">
    <div class="card-title">Password Reset Sent</div>
    <div class="form-group">
        <p>If an account exists for the email address provided, you will receive an email with instructions to reset your password.</p>
        <p>Please check your inbox and follow the instructions in the email. Make sure to also check your spam or junk folder, as the email might have been filtered there.</p>
        <p>If you do not receive an email within a few minutes, it is possible that there is no account associated with the provided email address. Please double-check the email address and try again if necessary.</p>
        <p>For further assistance, you can contact our support team at <a href="mailto:support@example.com">support@example.com</a>.</p>
        <p>Thank you for using our service!</p>
        <p><a href="{% url 'home' %}">Return to Home</a></p>
    </div>
</div>
{% endblock %}
