{% extends 'users/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header text-center">
        <h3>Password Reset</h3>
    </div>
    <div class="card-body">
        <p class="text-center">Please enter your new password twice to reset it.</p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form  %}
            <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
