{% extends 'users/base.html' %}

{% block content %}
<div class="card">
    <div class="card-title">Password Reset Successful</div>
    <div class="form-group">
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        <p>If you encounter any issues while logging in, please ensure that you are using the correct email address and the new password you just set.</p>
        <p>If you continue to experience problems, feel free to contact our support team at <a href="mailto:support@example.com">support@example.com</a> for further assistance.</p>
        <p>Thank you for using our service!</p>
        <p><a href="{% url 'login' %}">Go to Login Page</a></p>
    </div>
</div>
{% endblock %}
